@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Permanent+Marker&display=swap");

:root {
    --site-dark: #06113C;
    --site-orange: #FF8C32;
    --site-grey: #DDDDDD;
    --site-white: #EEEEEE;
}

body {
    background-color: var(--site-grey);
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

/* Navbar and Footer */

.nav-theme {
    background-color: var(--site-dark);
    color: var(--site-white)
}

a {
    text-decoration: none;
}

/* Headings */

h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 1rem;
    color: var(--site-dark);
}

/* Blog */

.blog-title {
    font-family: "Josefin Sans", sans-serif;
    color: var(--site-grey);
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.card-entry {
    font-family: "Permanent Marker", sans-serif;
    background-color: var(--site-dark);
    color: var(--site-white);
    width: 500px;
    padding: 1em 2em;
}

/* buttons */

.blog-links {
    background-color: var(--site-dark);
    color: var(--site-orange);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    border: none;
    padding: 4px 8px;
    margin: 1.5em 2em;
}