@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Permanent+Marker&display=swap");

:root {
    --site-dark: #06113C;
    --site-orange: #FF8C32;
    --site-grey: #DDDDDD;
    --site-white: #EEEEEE;
}

body {
    background-color: var(--site-grey);
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

/* Navbar and Footer */

.nav-theme {
    background-color: var(--site-dark);
    color: var(--site-white)
}

a {
    text-decoration: none;
}

/* Headings */

h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 1rem;
    color: var(--site-dark);
}

/* Blog */

.card-container {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.card-deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.blog-card {
    background-color: var(--site-dark);
    color: var(--site-white);
    letter-spacing: 2px;
    min-height: 200px;
    max-width: 400px;
    padding: 1em 2em;
    margin: 2em;
    border-radius: 10px;
    box-shadow: 4px 8px 8px #06113C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-title {
    font-family: "Josefin Sans", sans-serif;
    color: var(--site-grey);
    font-size: 1.25rem;
}

.card-entry {
    font-family: "Permanent Marker", sans-serif;
}

.form-text {
    font-family: "Josefin Sans", sans-serif;
}

.small-text {
    font-size: 0.75rem;
}

/* buttons */

.blog-links {
    background-color: var(--site-dark);
    color: var(--site-orange);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    border: none;
    padding: 4px 8px;
    margin: 1.5em 2em;
}
